.modal-backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.6);
}

.modal {
    max-width: 780px;
    padding: 50px 0;
    margin: 130px auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    color: white;
    position: relative;
}

.modalBtn {
    cursor: pointer;
    outline: none;
    border: 0;
    color: red;
    font-size: 20px;
    background: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
}